{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <h5>Bienvenue {{ app.user.firstname }} sur votre compte. <br> C'est dans cette espace que vous pourrez gérer toutes vos informations personnelles.</h5>
    <hr>
    <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a> <br><br><br>
    
{% endblock %}
