body{
position: relative;
}

.navbar-item-custom, .navbar-item-custom a
{
    color : #fff;
}

.footer-custom
{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    
    padding-top: 25px;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1px;
}

.product-item span{
    font-size: 14px;
    display: block;
}

.product-container{
    margin-bottom: 150px;
}